
#header_wrapper{
  background:url("../../assets/images/TOSCANAylogofinal.jpg") no-repeat center top;
  min-height: 800px;
  width:100%;
  z-index: 1;
 
  background-size: 79em 38em;
      
}
#twitter {
    position:absolute;
    right:350px;
    top: 3px;
    z-index: 2;

}
#facebook{
    position:absolute;
    right: 400px;
    top: 3px; 
    
    
    
}
#instagram{
    position:absolute;
    right: : -100px;
    top:3px;
    left: 800px;
}
#in{
    position:absolute;
    right: 100;
    top:3px;
    left: 800px;
}
#youtube{
    position: absolute;
    right: 250px;
    top:3px;
}
#nav-link{
    color:white;
    font-family: cursive; 
    font-size: 20px;

}


#capa1{ 
    position:absolute; 
    z-index:1;
    font-family: cursive;
    right: 600px;
    color: chocolate;
} 
#capa2{
    position:absolute;
    z-index:1;
    font-family: cursive;
    right: 700px;
    color:chocolate;
    
}
#capa3{
    position: absolute;
    z-index: 1;
    font-family: cursive;
    right:850px;
    color:chocolate;
}

#wrapper {
    background:url('input');
    width:859px;height:231px;
    }
#button {
    position:absolute;
    z-index: 1;
    left:950px;
    top:450px;
    font-family: cursive;
    color:saddlebrown;
    font-size: 30px;
    
    }

footer .col-sm-4{
    min-height: 120px;
 

}    
label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
	font-weight:bold;
   
   
}
INPUT{
    color:brown;
    border-color: brown;
    font-family: cursive;
    background-color: beige;
    
    
    
    

}
.row{
 
    text-align: center;
    background: url("../images/hojas.jpg")
    no-repeat center center fixed; 
 
    background-size: cover;
    background-size: cover;
    background-size: cover;
    color:burlywood;
    }

.col-md-4{
    font-family:cursive;
    color:beige;
    font-size:125%;
}
#mobile{
display: none;
}

@media (max-width: 770px){
    #mobile{
display: inline;
}


#desktop{
  display: none;
}
}

h2{
    color:darkred;
}

A:link {text-decoration:none;color:brown} 


A:visited {text-decoration:none;color:darkgoldenrod;} 


A:active {text-decoration:none;color:chocolate;} 


A:hover {text-decoration:underline;color:darkgoldenrod;} 



h1{
    color: saddlebrown;
    text-align: center;
    
}
A:link {text-decoration:none;color:brown} 

.form-register {
    
    width: 98%;
    max-width:  500px;
    margin: auto;
    background-color: beige;
    border-radius:  9px;
    
    
    
    
}

.form_titulo {
    background:brown;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    font-weight: 100%;
    font-size: 30px;
    border-top-left-radius:  7px;
    border-bottom-right-radius: 7px;
    border-bottom: 5px solid chocolate;
    
        
}


.contenedor-inputs{
    padding: 3 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
    
}
input {
    margin-bottom:  11px;
    padding:  12px;
    font-size:  16px;
    border-radius:  5px;
    border: 1px solid brown;

    
}
.input-48{
    width:48%;
}
.input-100{
    width: 100%;
   
}

.btn-enviar{
    background: chocolate;
    color: beige;
    margin:auto;
    padding: 10px 40px;
    cursor: pointer;
    
}


.btn-enviar:active{
    transform:  scale(1.05);
    
}
.form__link{
    width: 100%;
    margin: 7px;
    font-size: 14px;
    text-align: center;
    
    
}
.error {
    color: red;
     
}


